mixin skills_item(name, skill_all, level_skill)
  .skills__item
    p.skills__name= name
    p(class="skills__level" data-skills-level=""+level_skill)
      - for (var s = 0; s < skill_all; s++)
      if s < level_skill
        span.active
      else
        span