mixin skills_item(options)
  .skills__item
    p.skills__name= options.name
    p(class="skills__level" data-skills-level=""+options.level)
      - for (var s = 0; s < options.all_items; s++)
      if s < options.level
        span.active
      else
        span