mixin contacts(options)
  .contacts
    p
      span Address
      a(href="#")= options.address
    p
      span E-mail
      a(href="mailto:"+options.email)= options.email
    p
      span Phone
      a(href="tel:"+options.phone)= "+"+options.phone
    p
      span Website
      a(href="https://"+options.site target="_blank")= options.site