mixin user(options)
  .user
    .user__img
      img(src="assets/img/"+options.photoname alt=""+options.name +""+options.lastname)
    .user__content
      h1.user__name
        span= options.name
        = options.lastname
      h3.user__vocation= options.vocation