mixin contacts(address, email, phone, site)
  .contacts
    p
      span Address
      a(href="https://30488.redirect.appmetrica.yandex.com/show_point_on_map?appmetrica_tracking_id=745803332332869252&lang=ru&lat=40.13144570946527&lon=44.52830150046766"  target="_blank")= address
    p
      span E-mail
      a(href="mailto:"+email)= email
    p
      span Phone
      a(href="tel:"+phone)= "+"+phone
    p
      span Website
      a(href="https://"+site target="_blank")= site