include modules/user_/user.pug
include modules/title_/title-block.pug
include modules/contacts_/contacts.pug
include modules/skills_/skills.pug
include modules/education_/education_item.pug
include modules/software_/software_item.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" href="favicon.ico")
    title Resume
    link(rel="stylesheet" href="assets/fonts/fonts.css")
  body
    .wrapper
      .left-content
        .user-block
          +user('Vazgen', 'Aleksanyan', 'Frontend developer', 'user.png')
        section.profile
          +title_block('Profile', 'profile_icon')
          .section-text
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. <strong>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</strong>
        section.contact
          +title_block('Contact', 'phone_icon')
          +contacts('Avanesov Street, Yerevan', 'vazgenaleksanyan9092@gmail.com', '34793887250', 'www.youtube.com')
        section.skills-block
          +title_block('Skills', 'skills_icon')
          .skills
            +skills_item('Creative', 10, 9)
            +skills_item('Teamwork', 10, 8)
            +skills_item('Innovate', 10, 7)
            +skills_item('Communication', 10, 9)
      .right-content
        section.education
          +title_block('Education', 'education_icon')
          .education-block
            +education_item('Master Degree', '// Feb 2011 - Jun 2014', 'University name', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.', 'article__name_blue')
            +education_item('Master Degree', '// Feb 2011 - Jun 2014', 'University name', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.', 'article__name_blue')
            +education_item('Master Degree', '// Feb 2011 - Jun 2014', 'University name', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.', 'article__name_blue')
            +education_item('Master Degree', '// Feb 2011 - Jun 2014', 'University name', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.', 'article__name_blue')
        section.experience
          +title_block('Experience', 'experience_icon')
          .experience-block
            +education_item('Master Degree', '// Feb 2011 - Jun 2014', 'University name', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.')
            +education_item('Master Degree', '// Feb 2011 - Jun 2014', 'University name', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.')
            +education_item('Master Degree', '// Feb 2011 - Jun 2014', 'University name', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.')
            +education_item('Master Degree', '// Feb 2011 - Jun 2014', 'University name', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.')
        section.software
          +title_block('Software', 'software_icon')
          .softwere-block
            +software_item('JavaScript', 80)
            +software_item('Jquery', 80)
            +software_item('Html&Css', 95)
            +software_item('Scss', 85)
            +software_item('Photoshop', 60)
            +software_item('Illustrator', 50)
            +software_item('Git', 50)