$resumeColor: #3d6cb0;

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

html{
  font-size: 10px;
}

body{
  font-family: 'MyriadPro-Regular';
  color: #000;
  font-size: 24px;
  line-height: 1;
}

h1, h2, h3, h4{
  line-height: 0.9;
  text-transform: uppercase;
}

h1{
  font-size: 9.6rem;
}

h2{
  font-size: 6.4rem;
  color: $resumeColor;
  letter-spacing: .03em;
}

h3{
  font-size: 4rem;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 7vw 3.8vw;
}

.text_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content{
  width: 40%;
}
.right-content{
  width: 55%;
}
section{
  margin-top: 8rem;
}

// Profile section
.profile{
  margin-top: 12.8rem;
  line-height: 1.2;
  strong{
    line-height: 1.24;
  }
}

// software section 
.softwere-block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.education{
  margin-top: 1rem;
}



@import "../modules/title_/title.scss";
@import "../modules/user_/user.scss";
@import "../modules/contacts_/contacts.scss";
@import "../modules/skills_/skills.scss";
@import "../modules/education_/education.scss";
@import "../modules/software_/software.scss";



/*==========  Desktop First Method  ==========*/


@media screen and (max-width : 1440px) {
  html {font-size: 8px;}
  body{
    font-size: 20px;
  }
}

@media screen and (max-width : 1200px) {
  html{font-size: 6px;}
  body{
    font-size: 18px;
  }
  .wrapper{
    padding: 7vw 15px;
  }
}

@media screen and (max-width : 1023.5px) {
  .wrapper{
    padding: 7vw 5vw;
    flex-direction: column;
    align-items: center;
  }
  body{
    font-size: 14px;
  }
  .left-content{
    margin-right: 0;
    width: 80%;
  }
  .right-content{
    width: 80%;
  }
  .education{
    margin-top: 8rem;
  }
}

@media screen and (max-width: 578px) {
  html{
    font-size: 5px;
  }
  .wrapper{
    padding: 40px 15px;
  }
  .left-content{
    width: 100%;
  }
  .right-content{
    width: 100%;
  }
  .section-text p{
    text-align: justify;
  }
  .softwere-block{
    flex-direction: column;
  }
  .contacts p :first-child{
    min-width: 100px;
  }
}

@media screen and (max-width: 425px) {
  html{
    font-size: 4px;
  }
}







