.title-block{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2.7rem;
  &__icon{
    position: relative;
    width: 9.5rem;
    height: 9.5rem;
    text-align: center;
    color: #fff;
    background-color: #3d6cb0;
    border-radius: 50%;
    font-size: 11rem;
    left: .7rem;
    bottom: .1rem;
    margin-right: 3.5rem;
    &::after{
      content: '';
      position: absolute;
      left: -1rem;
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      border: 1px solid $resumeColor;
      border-radius: 50%;
    }
  }
  &::after{
    content: '';
    height: 0.8rem;
    flex-grow: 1;
    background-color: $resumeColor;
    margin-left: 1rem;
  }
}
@media only screen and (max-width : 578px){
  .title-block__name h2{
    font-size: 5rem;
  }
}