mixin education_item(options)
  article.article
    header.article__header
      div
        h3(class="article__name "+ options.identificator)= options.degree
        span.article__date= options.date
      h4.article__university= options.name
    p.article__text= options.text